/* CSS 영역 (스타일정보 바로 기술할 수 있는 영역) */
/* 1. 속성 선택자 ------------------------------ */

/* div중 name속성값이 name1과 "일치"하는 요소*/
div[name=name1]{
    background-color: orangered;
}

/* div중 name속성값에 name1이 "포함"되어있는 요소(단어로써) */
div[name~=name1]{
    background-color: yellow;
}

/* div중 class속성값이 class로 "시작"되는 요소 (-로 구분) */
div[class|=class]{
    background-color: cyan;
}

/* div중 name속성값이 na로 "시작"되는 요소 */
div[name^=na]{
    background-color: blue;
}

/* div중 class속성값이 class로 "끝"나는 요소 */
div[class$=class]{
    color: white;
}

/* div중 class속성값에 i가 "포함"되어있는 요소 */
div[class*=i]{
    color: red;
    background-color: yellow;
}

/* 응용 : class속성값이 div-class 중 name속성값에 name3 포함되어있는 요소 */
.div-class[name~=name3]{
    background-color: pink;
}

/* ------------------------------------------------------------------------------------ */

/* 2. 자손선택자와 후손선택자 ---------------------------------------------------------- */
/* a>b : a요소의 자손들 중에서 b요소들만 선택 */
/* 아이디가 test1인 요소의 자손들 중 h4요소만 선택  */
#test1>h4{
    background-color: orangered;
}

#test1>ul>li{
    background-color: cyan;
}

/* a b : a요소의 후손(모든 하위요소)들 중에서 b요소들만 선택 */
#test1 li{
    color: red;
}

/* ----------------------------------------------------------------------------------------- */

/* 3. 동위 선택자 -------------------------------------------------------------------------- */
/* a+b : a요소 뒤에 b요소 하나만을 선택 */
#test2+div{
    background-color: yellow;
}
#test2+ul{
    background-color: pink;
}

/* a~b : a요소 뒤의 모든 b요소 다 선택 */
#test2~div{
    /* background-color: green; */
}

#test2~ul{
    background-color: magenta;
}

/* ------------------------------------------------------------------------------- */

/* #active-test, #hover-test{ */
.area{
    background-color: yellowgreen;
    width: 100px;
    height: 100px;
}

/* 4. 반응 선택자 ------------------------------------------------------------------ */
/* 해당 요소에 클릭이 되어있을 동안 부여할 스타일 작성 */
#active-test:active{
    background-color: yellow;
    color: red;
}
/* 해당 요소에 마우스가 들어가있는 동안 부여할 스타일 작성 */
#hover-test:hover{
    background-color: maroon;
    color: white;
    cursor: pointer;
}

/* ------------------------------------------------------------------------------------ */

/* 5. 상태선택자 ---------------------------------------------------------------------- */
/* 해당 선택된 요소 자체에 스타일 반영 */
input[type=checkbox]:checked{
    width: 20px;
    height: 20px;  
}
input[type=checkbox]:checked+label{
    font-size:20px;
}

/* input[name=userId]:focus{
    background-color: red;
}
input[name=userPwd]:focus{
    background-color: pink;
} */
input:focus{
    background-color: yellow;
}

option:enabled{
    background-color: green;
}
option:disabled{
    background-color: red;
}

button:enabled{
    background-color: blue;
}
button:disabled{
    background-color: red;
}





