body{background: skyblue;}

#div-bg{
    background: white;
    width: 50%;
    border: 30px solid blue;
    padding: 20px;
}

.div-test{
    margin: 30px;
    border: 10px dashed black;
    background: yellow;
    padding: 20px;
}
#div1{background-clip:border-box;} /* 기본값(테두리영역까지 포함)  */
#div2{background-clip: padding-box;}
#div3{background-clip: content-box;}

#bg-img{
    width: 70%;
    height: 800px;
    border: 1px solid black;

    /* background-color: yellow; */
    background-image: url("../images/bgsample.PNG");

    /* background-repeat:repeat; 기본값(가득찰때까지 가로/세로 다 반복) */
    /* background-repeat:repeat-x; */
    /* background-repeat: repeat-y; */
    background-repeat:no-repeat;

    /* background-size: auto; 기본값(원본사이즈) */
    /* background-size:contain */
    /* background-size:cover */
    /* background-size: 150px 150px; */
    background-size: 50% 50%;

    /* background-position: right bottom; */
    /* background-position: center top; */
    /* background-position:left center ; */
    /* background-position: center center; */
    /* background-position: 30px 50px; */
    background-position: 50% 50%;

    /* background-attachment: scroll; 기본값 */
    background-attachment: fixed;

}





